/* ==================================
            import file
================================== */
@import "./responsive.css";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700&display=swap");

/* ==================================
                scrollbar
================================== */

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #33749a;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #55e748b9;
}


/* ==================================
                genaric
================================== */

*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
}

body{
    font-family: 'Raleway';
    background-color: #f7f7f7;
}


/* ==================================
                cards
================================== */

.card-container{
    width: 100%;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 30%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card img{
    width: 100%;
}

.container{
    margin: 9% 8%;
}

.tag i{
    display: block;
    float: left;
}

.tag p{
    font-size: 18px;
    margin-left: 25px;
    text-transform: uppercase;
}

.title{
    font-size: 25px;
    color: #57b5ff;
    line-height: 1.1;
}

.text{
    font-size: 18px;
    line-height: 1.5;
}

.btn{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.btn a{
    font-size: 17px;
    padding: 10px 0;
    text-decoration: none;
    min-width: 47%;
    color: #fff;
    text-align: center;
    word-spacing: 2px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn span{
    font-size: 23px;
    font-weight: 700;
}

.btn .btn-blue{
    background-color: #2e8efa;
}

.btn .btn-gray{
    background-color: #b7b7b7;
}